@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h2, h3, h4, .serif-font {
  font-family: 'Playfair Display', serif;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
