name: Deploy to Wedos FTP

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm run build

    - name: Install LFTP
      run: sudo apt-get update && sudo apt-get install -y lftp

    - name: Deploy to FTP
      run: |
        lftp -u ${{ secrets.FTP_USERNAME }},${{ secrets.FTP_PASSWORD }} ${{ secrets.FTP_HOST }} << EOF
        mirror -R --delete ./dist/ /www/domains/jakubminka.cz/
        quit
        EOF


